{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<h2>liste individuelle</h2>
<h3>{{ tag.name }} (id {{ tag.id }})</h3>
<p>
    {{ tag.description }}
</p>

<h3>{{ cssTag.name }} (id {{ cssTag.id }})</h3>
<p>
    {{ cssTag.description }}
</p>

<h2>liste de tous les tags</h2>

{% for tag in tags %}
    <h3>{{ tag.name }} (id {{ tag.id }})</h3>
    <p>
        {{ tag.description }}
    </p>
{% endfor %}

<h2>liste de tous les tags sans description</h2>

{% for tag in nullDescriptionTags %}
    <h3>{{ tag.name }} (id {{ tag.id }})</h3>
    <p>
        {{ tag.description }}
    </p>
{% endfor %}

<h2>Liste de tous les tags avec description</h2>

{% for tag in notNullDescriptionTags %}
    <h3>{{ tag.name }} (id {{ tag.id }})</h3>
    <p>
        {{ tag.description }}
    </p>
{% endfor %}

<h2>liste des tags avec mots clés</h2>

{% for tag in keywordTags1 %}
    <h3>{{ tag.name }} (id {{ tag.id }})</h3>
    <p>
        {{ tag.description }}
    </p>
{% endfor %}

{% for tag in keywordTags2 %}
    <h3>{{ tag.name }} (id {{ tag.id }})</h3>
    <p>
        {{ tag.description }}
    </p>
{% endfor %}


{% endblock %}

